.collection-container{
  display: flex;
}

.user-info{
  width: 70%;
  margin-left: 20px;
  margin-right: 10px;
  border-right: 1px solid gray;
}

.cart-info{
  align-items: center;
}

.cart-info h2{
  
  width: 150px;
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  color: white;
}